option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "{{ project_name }}.settings"
        "PYTHONPATH": "/var/app/current:$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: {{ project_name }}.wsgi:application
    "aws:elasticbeanstalk:environment:process:default":
        HealthCheckPath: /psu/test
    "aws:elasticbeanstalk:environment:proxy:staticfiles":
        /static: static
